.container.admin-form
  %h1{:align => "center"}= t '.admin-header'
  %table.table.table-striped
    %thead
      %tr
        %th Email
        %th Name
        %th Active?
        %th{:colspan => "2"}
    %tbody#users
      = render @users
    %tbody
