<div class="container album-index">
  <% if @albums.empty? %>
    <h5><%= t 'photos.index.no-photo' %></h5>
  <% end %>
  <% @albums.in_groups_of(4) do |group| %>
    <div class="row">
      <% group.compact.each do |album| %>
        <div class="col-xs-3">
          <h4 align="center"><%= link_to album.title, album %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>