.container.photo-index
  - if @photos.empty?
    %h5= t 'photos.index.no-photo'
  - @photos.in_groups_of(4) do |group|
    .row
      - group.compact.each do |photo|
        .col-xs-3
          = image_tag photo.image.url(:thumb), :width => '100%'
          %h4{:align => "center"}= link_to photo.title, photo
