<div class="container photo-index">
  <% if @photos.empty? %>
    <h5><%= t 'photos.index.no-photo' %></h5>
  <% end %>
  <% @photos.in_groups_of(4) do |group| %>
    <div class="row">
      <% group.compact.each do |photo| %>
        <div class="col-xs-3">
          <%= image_tag photo.image.url(:thumb), :width => '100%' if photo.image.present? %>
          <h4 align="center"><%= link_to photo.title, photo %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>