.container .form-control {
  margin-top: 7px;
  margin-bottom: 7px;
}
.login-form {
  margin: auto;
  width: 30%;

}

.signup-form {
  margin: auto;
  width: 30%;

}

input.signup-btn {

  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-form {
  margin: auto;
  width: 30%;  
}

input.edit-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

