<div class ='container'>
  <footer class = 'footer'>
    <small>
      Copyright &copy; <a href ="https://www.google.com">Rails Photo App</a>
      by <b>Khanh Nguyen</b>
    </small>
  </footer>
</div>